<!DOCTYPE html>
<html>
<head>
  <title>Mchimpee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if flash[:success] %>
        <p class="text-success"><%= flash[:success] %></p>
  <% end %>

  <% if flash[:error] %>
      <p class="text-error"><%= flash[:error] %></p>
  <% end %>

<%= yield %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
